<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="navbar-logo">
            <a href="/">InsuredApp</a>
        </div>

        <div class="navbar-links">
            <a href="/insured/">Insured</a>
            <a href="/insurances/">Insurance</a>
            <a href="/events/">Insured Events</a>
            <a href="/about/">About App</a>
             {% if user.is_authenticated %}
            <span>{{ user.username }}</span>
            <a href="/logout/">Logout</a>
            {% else %}
            <a href="/login/">Login</a>
            <a href="/signup/">Sign Up</a>
            {% endif %}
        </div>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
