{% extends 'base.html' %}

{% block title %}Insurances{% endblock %}

{% block content %}
  <h2 class="insurances-h">Insurances</h2>
  <table class="insurances-table">
    <thead>
      <tr>
        <th>Insurance</th>
        <th>Insured Name</th>
        <th>Subject</th>
        <th>Amount</th>
        <th>Valid Until</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for insurance in page_obj %}
        <tr>
          <td><a href="{% url 'insurance_detail' insurance_id=insurance.id %}">{{ insurance.get_type_display }}</a></td>
          <td>
            {% for insured in insurance.insurance.all %}
              <a href="{% url 'insured_detail' insured_id=insured.id %}">{{ insured.first_name }} {{ insured.last_name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </td>
          <td>{{ insurance.subject }}</td>
          <td>{{ insurance.amount }} Kč</td>
          <td>{{ insurance.valid_until }}</td>
          <td>
            <a href="{% url 'edit_insurance' insurance_id=insurance.id %}" class="button button-edit">Edit</a>
            <a href="{% url 'delete_insurance' insurance_id=insurance.id %}" class="button button-delete" onclick="return confirm('Are you sure you want to delete this insurance?')">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Stránkování -->
  <div class="pagination">
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span class="current-page">{{ page_obj.number }}</span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  </div>
{% endblock %}
