{% extends 'base.html' %}

{% block title %}Insured Events{% endblock %}

{% block content %}
  <h2 class="insured-events-h">Insured Events</h2>
  <table class="insured-events-table">
    <thead>
      <tr>
        <th>Insurance</th>
        <th>Insured</th>
        <th>Subject</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
        <tr>
          <td>{{ event.insurance.get_type_display }} - {{ event.insurance.subject }}</td>
          <td>
            {% for insured in event.insurance.insurance.all %}
              {{ insured.first_name }} {{ insured.last_name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </td>
          <td>{{ event.subject }}</td>
          <td>{{ event.date }}</td>
          <td>{{ event.status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
