{% extends 'base.html' %}

{% load static %}

{% block title %}Insured Detail{% endblock %}

{% block content %}
    <div class="insured-info">
        <div class="thumbnail">
            {% if insured.profile_photo %}
                <img src="{{ insured.profile_photo.url }}" alt="Thumbnail">
            {% else %}
                <img src="{% static 'evidence/default_thumbnail.jpg' %}" alt="Default Thumbnail">
            {% endif %}
        </div>
        <div class="personal-info">
            <p class="name">{{ insured.first_name }} {{ insured.last_name }}</p>
            <p>{{ insured.street }}</p>
            <p>{{ insured.city }}</p>
            <p>{{ insured.zipcode }}</p>
        </div>
        <div class="contact-info">
            <p>{{ insured.email }}</p>
            <p>{{ insured.phone }}</p>
        </div>
    </div>

    <div class="insured-policies">
        <h2 class="insured-h">Contracted insurance</h2>
        <table class="policies-table">
            <thead>
                <tr>
                    <th>Insurance</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for policy in insured.insurance.all %}
                <tr>
                    <td><a href="{% url 'insurance_detail' insurance_id=policy.id %}">{{ policy.get_type_display }}</a></td>
                    <td>{{ policy.amount }} Kč</td>
                  <td>
                        <form method="post" action="{% url 'delete_insurance' insurance_id=policy.id %}">
                        {% csrf_token %}
                            <button type="submit" class="delete-button" onclick="return confirm('Are you sure you want to delete this insurance?')">Delete</button>
                        </form>
                        <a href="{% url 'edit_insurance' insurance_id=policy.id %}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'add_insurance' insured_id=insured.id %}" class="button-add">Add Insurance</a>
    <a href="{% url 'edit_insured' insured.id %}" class="button-edit">Edit Insured</a>
    <a href="{% url 'delete_insured' insured.id %}" class="button-delete" onclick="return confirm('Are you sure you want to delete this insured?')">Delete</a>
{% endblock %}