{% extends 'base.html' %}

{% block title %}Insurances{% endblock %}

{% block content %}
  <h2 class="insurances-h">Insurances</h2>
  <table class="insurances-table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Insured Name</th>
        <th>Subject</th>
        <th>Amount</th>
        <th>Valid Until</th>
      </tr>
    </thead>
    <tbody>
      {% for insurance in insurances %}
        <tr>
          <td>{{ insurance.get_type_display }}</td>
          <td><a href="{% url 'insured_detail' insured_id=insurance.insurance.first.id %}">{{ insurance.insured_names }}</a></td>
          <td>{{ insurance.subject }}</td>
          <td>{{ insurance.amount }} Kč</td>
          <td>{{ insurance.valid_until }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
