{% extends 'base.html' %}

{% block title %}Insured{% endblock %}

{% block content %}
    <h1 class="insured-h">Insureds</h1>
    <div class="center">
        <a href="{% url 'new_insured' %}" class="button-insured">New Insured</a>
    </div>
    <table class="insured-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for insured in insureds %}
                <tr>
                    <td>{{ insured.first_name }} {{ insured.last_name }}</td>
                    <td>{{ insured.street }}, {{ insured.city }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}