{% extends 'base.html' %}

{% block title %}New Insured{% endblock %}

{% block content %}
    <h2 class="new-insured-h">New Insured</h2>
    <form method="POST" class="insured-form">
        {% csrf_token %}
        <div class="form-column">
            <div class="form-row">
                <label>First Name</label>
                {{ form.first_name }}
            </div>
            <div class="form-row">
                <label>Role</label>
                {{ form.role }}
            </div>
            <div class="form-row">
                <label>Email</label>
                {{ form.email }}
            </div>
            <div class="form-row">
                <label>Street</label>
                {{ form.street }}
            </div>
        </div>
        <div class="form-column">
            <div class="form-row">
                <label>Last Name</label>
                {{ form.last_name }}
            </div>
            <div class="form-row">
                <label>City</label>
                {{ form.city }}
            </div>
            <div class="form-row">
                <label>Zip Code</label>
                {{ form.zipcode }}
            </div>
            <div class="form-row">
                <label>Phone</label>
                {{ form.phone }}
            </div>
        </div>
        <div class="submit-button-container">
            <input type="submit" value="Save" class="submit-button">
        </div>
    </form>
{% endblock %}
