.navbar {
    color: #fff;
    background-color: #454545;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}


.navbar-links {
    display: flex;
    align-items: center;
}

.navbar a {
    color: #ccc;
    text-decoration: none;
    margin-right: 30px;
}

.navbar-logo {
    color: #fff !important;
    font-size: 115% ;
    margin-right: 10%;
}


.navbar-links a {
    color: #A9A9A9; /* světle šedá */
    text-decoration: none;
    margin-right: 30px;
}

.navbar-links a.active {
    color: #FFF; /* bílá */
}


.navbar-login {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar-login span {
    margin-right: 20px;
}


.insured-h, .insurances-h, .insured-events-h {
    margin-top: 5%;
    margin-left: 8%;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.button {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}

.button-add {
    background-color: #6495ED;
}

.button-edit {
    background-color: #ffad33;
}

.button-delete {
    background-color: #e60000;
}


.insured-table, .policies-table, .insurances-table, .insured-events-table {
    width: 85%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-family: 'Open Sans', sans-serif;

}

.insured-table th, .insured-table td,
.policies-table th, .policies-table td,
.insurances-table th, .insurances-table td,
 .insured-events-table th, .insured-events-table td {
    padding: 8px;
    border: 2px solid #ccc;

}
.insured-table th:nth-child(2),
.insured-table td:nth-child(2){
    width: 40%;
}

.insured-table th:nth-child(1),
.insured-table td:nth-child(1),
.insured-table th:nth-child(3),
.insured-table td:nth-child(3) {
    width: 30%;
}

.policies-table th:nth-child(2),
.policies-table td:nth-child(2){
    width: 40%;
}

.policies-table th:nth-child(1),
.policies-table td:nth-child(1),
.policies-table th:nth-child(3),
.policies-table td:nth-child(3) {
    width: 30%;
}

.insured-table th, .policies-table th {
    text-align: left;

}

.insured-info {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
}

.thumbnail {
    margin: 1% 0 0 8%;
}

.personal-info {
    margin: 3% 0 0 8%;
    font-size: 20px;
}

.personal-info p {
    margin: 5% 0;
}

.contact-info {
    margin: 5% 0 0 10%;
    font-size: 20px;

}

.contact-info p {
    margin: 5% 0 0 10%;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}


