.navbar {
    color: #fff;
    background-color: #454545;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}


.navbar-links {
    display: flex;
    align-items: center;
}

.navbar a {
    color: #ccc;
    text-decoration: none;
    margin-right: 30px;
}

.navbar-logo {
    color: #fff !important;
    font-size: 115% ;
    margin-right: 10%;
}


.navbar-links a {
    color: #A9A9A9; /* světle šedá */
    text-decoration: none;
    margin-right: 30px;
}

.navbar-links a.active {
    color: #FFF; /* bílá */
}


.navbar-login {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar-login span {
    margin-right: 20px;
}
.role {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    font-weight: bold;

}

.insured-h, .insurances-h, .insured-events-h {
    margin-top: 5%;
    margin-left: 8%;
    font-family: 'Open Sans', sans-serif;
}


.button {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;

}

.button-add {
    background-color: #6495ED;
}

.button-edit {
    background-color: #ffad33;
}

.button-delete {
    background-color: #e60000;
}

.main-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.main-buttons a:hover {
  background-color: #4169E1;
}

.main-buttons .button {
    margin-right: 10px;
    font-size: 20px;
    padding: 10px 20px;
}


.insured-table, .policies-table, .insurances-table, .insured-events-table {
    width: 85%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-family: 'Open Sans', sans-serif;
}

.insured-table th, .insured-table td,
.policies-table th, .policies-table td,
.insurances-table th, .insurances-table td,
 .insured-events-table th, .insured-events-table td {
    padding: 6px;
    border: 1px solid #1a001a;
}

.insured-table th, .policies-table th {
    text-align: left;
}

.insured-info {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
}

.thumbnail {
    margin: 1% 0 0 8%;
}

.personal-info {
    margin: 3% 0 0 8%;
    font-size: 20px;
}

.personal-info p {
    margin: 5% 0;
}

.contact-info {
    margin: 5% 0 0 10%;
    font-size: 20px;
}

.contact-info p {
    margin: 5% 0 0 10%;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  display: inline-block;
  padding: 8px 12px;
  background-color: #6495ED;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  margin-right: 5px;
}

.pagination a:hover {
  background-color: #4169E1;
}

.pagination .current-page {
  display: inline-block;
  padding: 8px 12px;
  background-color: #A9A9A9;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  margin-right: 5px;
}

.insured-form {
    max-width: 75%;
    padding: 1% 0 0 2%;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.form-column {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin-right: 4%;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.form-row label {
    display: block;
    font-size: 18px;
    margin-bottom: 4px;
    box-sizing: border-box;
}

.form-row input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #999;
}
.form-row select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #999;
}


.submit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-right: 11%;
}

.submit-button {
    padding: 10px 30px;
    background-color: #6495ED;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #4169E1;
}

.new-insured-h {
    padding: 1% 0 0 2%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.add-insurance-form {
  max-width: 40%;
  padding: 1% 0 0 3%;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4%;
}

.form-row-add-insurance-type {
  grid-column: 1 / span 2;
}


.form-row-add-insurance-type label {
  font-size: 18px;
}

.form-row-add-insurance-type select {
  width: 100%;
  padding: 1.5%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0 10px 0;
  color: #595959;
}

.add-insurance-h {
  padding: 1% 0 0 3%;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.form-row-add-insurance {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form-column-add-insurance {
  width: 100%;
  padding: 0 1% 2% 0;
}

.form-row-add-insurance label {
  display: block;
  font-size: 18px;
  margin-bottom: 4px;
}

.form-row-add-insurance input {
  width: 100%;
  padding:3%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #595959;
}

.add-insurance-button {
  margin-top: 3%;
  display: grid;
  grid-column: 1 / span 2;
  justify-content: center;
}


.add-insurance-button button {
  padding: 10px 30px;
  background-color: #6495ED;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.add-insurance-button button:hover {
  background-color: #4169E1;
}


.insurance-detail,
.insurance-event-detail {
  max-width: 40%;
  padding: 1% 0 0 3%;
  border-radius: 8px;
}

.insurance-h {
  font-size: 24px;
  font-weight: bold;
}

.insurance-info {
  margin-top: 20px;
}

.insurance-info p {
  font-size: 18px;
  margin-bottom: 8px;
}

.my-form,
.sign-up-form,
.login-form {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-items: start;
  margin: 0 38% 0 38%;
  font-family: 'Open Sans', sans-serif;
}

.my-form input,
.my-form select,
.my-form textarea,
.sign-up-form input,
.sign-up-form select,
.sign-up-form textarea,
.login-form input,
.login-form select,
.login-form textarea{
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 3px;
  font-size: 18px;
}

.create-event-h,
.add-policyholder-h,
.sign-up-h,
.login-h {
    margin-left: 38%;
    font-family: 'Open Sans', sans-serif;
}

.submit-button-create-event {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.submit-button-add-policyholder {
    margin-top: 3%;
}

.insurance-detail,
.insurance-event-detail {
  font-family: 'Open Sans', sans-serif;
}

.insurance-h,
.insurance-event-detail-h {
  margin-top: 20px;
}

.insurance-info,
.insurance-event-info {
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 400px;
  background-color: #f4f4f4;
}

.insured-badge {
    color: red;
}

.policyholder-badge {
    color: blue;
}

.filter-container {
    width: 85%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.filter-form {
    display: flex;
    align-items: center;
}

.filter-form select,
.filter-form input[type="text"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 8px;
}

.filter-form button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #6495ED;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 8px;
}

.filter-form a {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #f44336;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 8px;
}

.filter-form a:hover,
.filter-form button:hover {
    opacity: 0.8;
}

